#header-backgroung{
    background-image: url("../img/backgrounds/landing.jpg");
    background-repeat:no-repeat;
    height: 500px;
    width: 100%;
    background-image:no repeat;
  }
  #image-logo{
    display: block;
    margin-right: auto;
      margin-left: auto;
      padding-top:90px;
  
  }
  #header-backgroung p{color:white;
  text-align: center;
  font-size: 25px;
  font-family: arial;
  font-style: bold;
}
  happy-hour{
    background-color: grey;
    color: black;
    font-size: 30px;
    height:80px;
    padding-left:0px;

  }
  #party-time{
    background-image:url("../img/backgrounds/landing.jpg");
    color: white;
    font-size: 30px;
    height:80px;
    overflow: hide;
    padding-left:0px;
  
  }
  .breakfast{height:200px;
    margin: 0px;
    background-image: url("../img/foodtop/breakfast.jpg");
    text-align: center;
    color: white;
    vertical-align: middle;
    padding: 80px;
    width:20%;
  }
  .lunch{height:200px;
    margin: 0px;
    background-image: url("../img/foodtop/lunch.jpg");
    text-align: center;
    color: white;
    vertical-align: middle;
    padding: 80px;
    width:20%;
  }
  .dinner{height:200px;
    margin: 0px; 
    background-image: url("../img/foodtop/dinner.jpg");
    text-align: center;
    color: white;
    vertical-align: middle;
    padding: 80px;
    overflow: hidden;
    width:20%;
  }
  #button{background-color: grey;}

  #fastfood-image{
  background-image: url("img/fastfood6.jpg");
  height:350px;
  width: 50%;
  display: block;
  overflow: hidden;
}
#backgroun-image{
  background-image: url("../img/backgrounds/foodsBg.jpg");
  /* display:flex;
  justify-content: center;
  align-items: center; */
  height:400px;
  background-repeat:no repeat;
  }
.main-2{
  width:80%;
  height:40%;
  background-color:white;
  padding-bottom:30px;
  padding:30px;
  margin:50px;
}
.main-3{
  width:100%;
  height:40%;
  background-color:white;
  padding-bottom:30px;
  padding:30px;
  margin:50px;
}


  #float-right{
    float:right;
  }

  .float-right {
      float:right;
  }
  .float-left {
    float:left;
}

  #fastfood-row{
    margin :50px;
    background-color: white;
  }
  .menu-images{padding:50px;}
  .menu-text p{text-align: center;
  padding:auto;
  padding-top: 20px;
  }
  .customer-images{padding: 15px;}
  .align-images-center{padding-left:120px;
    border-right: 2px solid black;
   }

  .footer{
    background: url("../img/backgrounds/subscribe.jpg");
  }
  
  .email-title{color:white;
        text-align: center;}
  .section-center{margin-left: 40%;}
  
  .backgroung-img {
    background: #F15A29;
  }
  .footer-menu {
    padding: 20px;
  }
  .Tocenter{margin-left: 47%;}

  .nav-btn {
    display: block;
    font-size: 40px;
    cursor: pointer;
    text-align: left;
    color: white;
  }
  
  #myNav {
    display: block;
    font-size: 40px;
    cursor: pointer;
    text-align: left;
    color: white;
    z-index: 1;  
  }
  
  .overlay {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: rgb(0,0,0);
      background-color:#F15A29;
      overflow-x: hidden;
      transition: 0.5s;
  }
  
  .overlay-content {
      position: relative;
      top: 25%;
      width: 100%;
      text-align: center;
      margin-top: 30px;
      z-index: 10;
  }
  
  .overlay a {
      padding: 8px;
      text-decoration: none;
      font-size: 36px;
      color: #818181;
      display: block;
      transition: 0.3s;
      z-index: 1;
  }
  
  .overlay a:hover, .overlay a:focus {
      color: #f1f1f1;
  }
  
  .overlay .closebtn {
      position: absolute;
      top: 20px;
      right: 45px;
      font-size: 60px;}